@using SIDES.Enums
@model SIDES.ViewModels.PriorIncident

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="~/css/Prior.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css"
          integrity="sha512-CB+XYxRC7cXZqO/8cP3V+ve2+6g6ynOnvJD6p4E4y3+wwkScH9qEOla+BTHzcwB4xKgvWn816Iv0io5l3rAOBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
            <style>
     .form-control {
    display: block;
    width: 100%;
    height: 30px !important;
    padding: 0.375rem 0.75rem;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

lable {
    font-size: 18px;
}
.form_1 .input_end {
    display: flex;
    justify-content:center !important;
}

 </style>


</head>

<body>

    <div class="container">
       
        <div class="text-center">
            Response for SSN: @Model.SidesRequest.SSN Claim Number: @Model.SidesRequest.ClaimNumber Name @Model.SidesRequest.ClaimantLastName @Model.SidesRequest.ClaimantFirstName  Date :@Model.SidesRequest.ClaimEffectiveDate
        </div>
        <div style="display:none">
            <input type="text" id="RouteId" value="@Model.SidesRequest.RequestForSeparationId" />
        </div>
        <h3 class="text-center claim_heading">Prior Incident</h3>
        <form class="form_1" method="post"  asp-controller="SidesPrior" asp-action="SidesPriorV" >
            <div class="form-group row">
                <label for="claimantSeparation" class="col-sm-3 col-form-label">
                    What was the date the claimant voilated
                    a rule,
                    behaved unacceptably, was absent or late prior to the final incident?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="returnDate" name="PriorIncidentDate" value="@ViewBag.PriorIncidentDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="returnWork" class="col-sm-3 col-form-label">
                    What was the reason for the prior incident(s) of
                    rule
                    violation,unacceptable behaviour, absenteeism or lateness?
                </label>
                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50" name="priorincident" id="notClaim">@Model.PriorIncidentReason </textarea>
                       
                </div>
            </div>
            <div class="form-group row">
                <label for="returnDate" class="col-sm-3 col-form-label">
                    Was the claimant warned for the prior incident?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="ProirWarning" class="form-control" name="PriorIncidentWarningInd">
                        @{
                           
                            if(Model.PriorIncidentWarningInd =="Y"){
                                        <option Selected Value="Y">Yes</option>
                                        <option value="N">No</option>

                            }
                            else if (Model.PriorIncidentWarningInd == "N") {
                                        <option  Value="Y">Yes</option>
                                        <option   Selected value="N">No</option>
                            }
                            else
                            {
                                        <option selected value="S">--select--</option>
                                        <option  Value="Y">Yes</option>
                                        <option value="N">No</option>
                            }
                        }
                        
                        
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="availableHours" class="col-sm-3 col-form-label">
                    What was the date of the prior incident
                    warning?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="PriorIncidentDate" name="PriorIncidentWarningDate" value="@ViewBag.PriorIncidentWarningDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="notClaim" class="col-sm-3 col-form-label">
                    Describe what the prior incident warning said
                </label>
                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50" id="priorWarningText" name="PriorIncidentWarningDescription" id="notClaim">@Model.PriorIncidentWarningDescription</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="typeOfLabour" class="col-sm-3 col-form-label">
                    Provide any other comment regarding why the
                    claimant was discharged
                </label>
                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50" name="DischargeReasonComments" id="notClaim">@Model.DischargeReasonComments</textarea>
                </div>
            </div>
          @*  <div>
                <input type="submit" name="Save" value="Submit" />
                <input type="submit" name="Next" value="Next" >
            </div>*@
            <div class="row mt-3">
                <div class=" col-sm-6 mb-3 d-flex" id="Gotopage">
                    <label id="Gotopage" class="mx-2">Go To Page</label>
                     <span>
                     <select  name="Go to page" id="GotopageNext"  asp-items="Html.GetEnumSelectList<GoToNextPageEnum>()" onchange="GoToNextPageDDL()"  >
                   <option value="" >--Select--</option>
                  </select>
                  </span>

                </div>
                <div class="col-sm-6 prepare_btn">
                <input type="button" name="Cancel" value="Cancel" class="save_btn" onclick="CancelClick()">
                <input type="submit" name="Save" value="Save" class="save_btn" >
                <input type="submit" name="Next" value="Next" class="save_btn" >
               
             </div>

            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

<script src="~/js/GoToNextPage.js"> </Script>   
    <script>
     $(document).ready(function(){
         $("#ProirWarning").change(function () {
            if ($(this).val() == "N") {
               
                $("#PriorIncidentDate").attr('disabled', true);
                $("#priorWarningText").attr('disabled', true);
              
            } else {
                 $("#PriorIncidentDate").attr('disabled', false); 
                  $("#priorWarningText").attr('disabled', false); 
            }
        });
     });
</script>
