@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using SIDES.Enums
@model SIDES.ViewModels.ReasonforSeparation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link href="~/css/Prior.css" rel="stylesheet">
    <link href="~/css/ReasonforSeparation.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.css"
          integrity="sha512-CB+XYxRC7cXZqO/8cP3V+ve2+6g6ynOnvJD6p4E4y3+wwkScH9qEOla+BTHzcwB4xKgvWn816Iv0io5l3rAOBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="container">
        <div class="text-center">
            Response for SSN: @Model.SidesRequest.SSN Claim Number: @Model.SidesRequest.ClaimNumber Name @Model.SidesRequest.ClaimantLastName @Model.SidesRequest.ClaimantFirstName Effective Date :
            7/22/2014
        </div>
         <div style="display:none">
                      <input type="text" id="RouteId"  value="@Model.SidesRequest.RequestForSeparationId"/>
                </div>
        <h3 class="text-center claim_heading">Reason for Separation</h3>
        <form class="form_1" method="post" asp-controller="SidesReasonforSeparation" asp-action="SidesReasonforSeparationV">
            <section>
            <div class="form-group row">
                <label for="claimantSeparation" class="col-sm-3 col-form-label">
                    Reason for claimant's separation from
                    employement :
                </label>
                <div class="col-sm-9 input_end">
                    <select id="claimantSeparation" name="EmployerSepReasonCode" class="form-control" asp-items=@Model.SIDES_CLAIMANTSEPREASONCODE>
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <label for="returnWork" class="col-sm-3 col-form-label">
                    Does the claimant have reasonable assurance of
                    returning to work?
                </label>
                <div class="col-sm-9 input_end">
                    <select id="returnWork" class="form-control" name="ReturnToWorkInd">
                        @{
                            if (Model.ReturnToWorkInd == "Y")
                            {
                                                            <option value="Y" selected>Yes</option>
                                                            <option value="N">No</option>
                            }
                            else if (Model.ReturnToWorkInd == "N"){
                                                            <option value="Y">Yes</option>
                                                            <option value="N" selected>No</option>
                            }
                            else{
                                                            <option value="" selected >--Select--</option>
                                                            <option value="Y">Yes</option>
                                                            <option value="N">No</option>
                            }
                        }

                        
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="returnDate" class="col-sm-3 col-form-label">
                    What date do you expect the claimant to return
                    to work?
                </label>
                <div class="col-sm-9 input_end">
                    <input type="date" class="form-control" id="returnDate" name="ReturnToWorkDate" value="@ViewBag.ReturntoWorkDate">
                </div>
            </div>
            <div class="form-group row">
                <label for="availableHours" class="col-sm-3 col-form-label">
                    Is the claimant working all available
                    hours?
                </label>
                <div class="col-sm-9 input_end">
                    <select  class="form-control" id="workingavailablehours" asp-items="@Model.SIDES_WORKINGALLAVAILABLEHOURS" name="WorkingAllAvailableHoursInd">
                        
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <label for="notClaim" class="col-sm-3 col-form-label">
                    Why isn't the claimant working all available
                    hours?
                </label>

                <div class="col-sm-9 input_end">
                    <textarea rows="4" cols="50"  id="NotWorkingAvailableHoursReason" name="NotWorkingAvailableHoursReason">@Model.NotWorkingAvailableHoursReason</textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="typeOfLabour" class="col-sm-3 col-form-label">What is the type of labor dispute?</label>
                <div class="col-sm-9 input_end">
                    <select id="typeOfLabourid" class="form-control" asp-items="@Model.SIDES_LABORDISPUTETYPES" name="LaborDisputeTypeInd">  
                        <option selected value=""></option>
                    </select>
                </div>
            </div>
           <div class="row mt-3">
                <div class=" col-sm-6 mb-3 d-flex" id="Gotopage">
                    <label id="Gotopage" class="mx-2">Go To Page</label>
                     <span>
                     <select  name="Go to page" id="GotopageNext"  asp-items="Html.GetEnumSelectList<GoToNextPageEnum>()" onchange="GoToNextPageDDL()"  >
                   <option value="" >--Select--</option>
                  </select>
                  </span>

                </div>
                <div class="col-sm-6 prepare_btn">
                <input type="button" name="Cancel" value="Cancel" class="save_btn" onclick="CancelClick()">
                <input type="submit" name="Save" value="Save" class="save_btn" >
                <input type="submit" name="Next" value="Next" class="save_btn" >
               
             </div>

            </div>
            </section>
        </form>
    </div>
     
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>*@
</body>

</html>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>     *@
<script src="~/js/GoToNextPage.js"> </Script> 
<script>
     $(document).ready(function(){

         if($("#claimantSeparation").val() == 16){
           $("#typeOfLabourid").attr("disabled",false);
         }
         else{
               $("#typeOfLabourid").attr("disabled",true);
         }

         $("#workingavailablehours").change(function () {
            if ($(this).val() == 2) {
               
                $("#NotWorkingAvailableHoursReason").attr("disabled",true);
              
            } else {
                 $("#NotWorkingAvailableHoursReason").attr("disabled",false);
            }
        });


         $("#claimantSeparation").change(function () {
            if ($(this).val() == 16) {
                

                $("#typeOfLabourid").attr("disabled",false);
               
              
            } else {
                 $("#typeOfLabourid").val("")
                 $("#typeOfLabourid").attr("disabled",true);
            }
        });


         $("#returnWork").change(function () {

        
            if ($(this).val() == "N") {

               
                 $("#returnDate").val(null);
                $("#returnDate").attr("disabled",true);
              
            } else {
                 $("#returnDate").attr("disabled",false);
            }
        });


        if($("#returnWork").val() == "N"){
            
              $("#returnDate").val(null);
             $("#returnDate").attr("disabled",true);
        }
        else{
             
             $("#returnDate").attr("disabled",false);
        }
     });

      

</script>




